
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/
/reports/.cucumber-report.html
/reports/.cucumber-report.json
package-lock.json